@use "sass:map";
@use "sass:list";
@use "../../config/typography" as config;

@function f($name, $key) {
	$key: "#{$key}";

	$maps: (
		'font-size': config.$font-size,
		'line-height': config.$line-height,
		'font-weight': config.$font-weight
	);

	$map: map.get($maps, $name);

	@if $map and map.has-key($map, $key) {
		@return var(--#{$name}-#{$key});
	}
	@else {
		@warn "Ключ `#{$key}` не найден в карте $#{$name}.";
		@return null;
	}
}
