
@forward "@config/colors";

$red-500: #ef4444; 		// red-500 lightness: 63.7% Chroma: 0.208 Hue: 25.33deg
$orange-500: #f97316; 	// orange-500 lightness: 70.5% Chroma: 0.187 Hue: 47.6deg
$amber-500: #f59e0b; 	// amber-500 lightness: 76.9% Chroma: 0.165 Hue: 70.08deg
$yellow-500: #eab308; 	// yellow-500 lightness: 79.5% Chroma: 0.162 Hue: 86.05deg
$lime-500: #84cc16; 	// lime-500 lightness: 76.8% Chroma: 0.204 Hue: 130.85deg
$green-500: #22c55e; 	// green-500 lightness: 72.3% Chroma: 0.192 Hue: 149.58deg
$emerald-500: #10b981; 	// emerald-500 lightness: 69.6% Chroma: 0.149 Hue: 162.48deg
$teal-500: #14b8a6; 	// teal-500 lightness: 70.4% Chroma: 0.123 Hue: 182.5deg
$cyan-500: #06b6d4; 	// cyan-500 lightness: 71.5% Chroma: 0.126 Hue: 215.22deg
$sky-500: #0ea5e9; 		// sky-500 lightness: 68.5% Chroma: 0.148 Hue: 237.32deg
$blue-500: #3b82f6; 	// blue-500 lightness: 62.3% Chroma: 0.188 Hue: 259.81deg
$indigo-500: #6366f1; 	// indigo-500 lightness: 58.5% Chroma: 0.204 Hue: 277.12deg
$violet-500: #8b5cf6; 	// violet-500 lightness: 60.6% Chroma: 0.219 Hue: 292.72deg
$purple-500: #a855f7; 	// purple-500 lightness: 62.7% Chroma: 0.233 Hue: 303.9deg
$fuchsia-500: #d946ef; 	// fuchsia-500 lightness: 66.7% Chroma: 0.259 Hue: 322.15deg
$pink-500: #ec4899; 	// pink-500 lightness: 65.6% Chroma: 0.212 Hue: 354.31deg
$rose-500: #f43f5e; 	// rose-500 lightness: 64.5% Chroma: 0.215 Hue: 16.44deg
$slate-500: #64748b; 	// slate-500 lightness: 55.4% Chroma: 0.041 Hue: 257.42deg
$gray-500: #6b7280; 	// gray-500 lightness: 55.1% Chroma: 0.023 Hue: 264.36deg
$zinc-500: #71717a; 	// zinc-500 lightness: 55.2% Chroma: 0.014 Hue: 285.94deg
$neutral-500: #737373; 	// neutral-500 lightness: 55.6% Chroma: 0 Hue: 0deg
$stone-500: #78716c; 	// stone-500 lightness: 55.3% Chroma: 0.012 Hue: 58.07deg
$mauve-500: #71717a; 	// mauve-500 lightness: 55.2% Chroma: 0.014 Hue: 285.94deg
$olive-500: #78716c; 	// olive-500 lightness: 55.3% Chroma: 0.012 Hue: 58.07deg
$mist-500: #64748b; 	// mist-500 lightness: 55.4% Chroma: 0.041 Hue: 257.42deg
$taupe-500: #78716c; 	// taupe-500 lightness: 55.3% Chroma: 0.012 Hue: 58.07deg
