@use "sass:color";
@use "sass:meta";
@use "sass:math";
@use "sass:map";
@use "sass:string";

@forward "@config/colors";
@forward "@core/palette";


@function light($color, $lightness, $alpha: 1) {
	$_color: hex-to-oklch($color);
	$_change-lightness: color.adjust($_color, $lightness: $lightness);
	$_change-alpha: color.change($_change-lightness, $alpha: $alpha);
	$_converted: oklch-to-rgba($_change-alpha);

	@return $_converted;
}

/// Конвертирует OKLCH цвет (в виде строки или цветового объекта) в RGBA
/// @param {color} $oklch - Цвет в пространстве OKLCH
/// @return {color} Цвет в пространстве sRGB (RGBA)
@function oklch-to-rgba($oklch) {
	// Убедимся, что переданный цвет — это действительно OKLCH или другой формат
	$converted: color.to-space($oklch, srgb);
	@return $converted;
}

// Конвертирование HEX в OKLCH
@function hex-to-oklch($hex) {
	@if(meta.type-of($hex) == 'color') {

		@if(string.index("#{$hex}", "#") == 1) {
			$oklch: color.to-space($hex, oklch);

			@return round-oklch($oklch);

		} @else {
			@return #{$hex} 'Не является HEX цветом.';
		}

	} @else {
		@return #{meta.type-of($hex)} 'Не является цветом.';
	}
}

// Округление знаков после запятой у OKLCH цветов (возвращает строку для отображения)
//@function round-oklch-string($color) {
//	$l: math.div(math.round(color.channel($color, "lightness") * 10), 10);
//	$c: math.div(math.round(color.channel($color, "chroma") * 1000), 1000);
//	$h: math.div(math.round(color.channel($color, "hue") * 100), 100);
//
//	@return string.unquote("oklch(#{$l} #{$c} #{$h})");
//}

// Округление знаков после запятой у OKLCH цветов (возвращает цветовой объект для вычислений)
@function round-oklch($color) {
	$l: math.div(math.round(color.channel($color, "lightness") * 10), 10);
	$c: math.div(math.round(color.channel($color, "chroma") * 1000), 1000);
	$h: math.div(math.round(color.channel($color, "hue") * 100), 100);

	$adjusted: color.change($color, $lightness: $l, $chroma: $c, $hue: $h);
	@return $adjusted;
}
