@use "sass:color";
@use "sass:meta";
@use "sass:math";
@use "sass:map";
@use "sass:string";

@forward "@core/new-palette";

@use "@core/new-palette" as palette;

$_palette-keys: (red, orange, amber, yellow, lime, green, emerald, teal, cyan, sky, blue, indigo, violet, purple, fuchsia, pink, rose, slate, gray, zinc, neutral, stone, taupe, mauve, mist, olive);
$_base-colors: meta.module-variables(palette);
$_result-colors: ();
$tmp-colors: $_base-colors;
$variables: ();

//@debug $_base-colors;

@each $_name, $_value in $_base-colors {
	// Обрабатываем только цвета
	@if (meta.type-of($_value) == "color") {

		// Подготовка массива с оттенками
		$_shades: (
			"base": $_value,
			"light": color.adjust($_value, $lightness: 10%),
			"dark": color.adjust($_value, $lightness: -10%)
		);

	}
}

@function lightness($hex) {
	$_color: hex-to-oklch($hex);
	$_lightness: color.channel($_color, "lightness");

	@return $_lightness;
}

@function light($color, $lightness, $alpha: 1) {
	$_color: hex-to-oklch($color);
	$_change-lightness: color.adjust($_color, $lightness: $lightness);
	$_change-alpha: color.change($_change-lightness, $alpha: $alpha);
	//$_converted: oklch-to-rgba($_change-alpha);

	//@return $_converted;
	@return $_change-alpha;
}

/// Конвертирует OKLCH цвет (в виде строки или цветового объекта) в RGBA
/// @param {color} $oklch - Цвет в пространстве OKLCH
/// @return {color} Цвет в пространстве sRGB (RGBA)
@function oklch-to-rgba($oklch) {
	// Убедимся, что переданный цвет — это действительно OKLCH или другой формат
	$converted: color.to-space($oklch, srgb);
	@return $converted;
}

// Конвертирование HEX в OKLCH
@function hex-to-oklch($hex) {
	@if(meta.type-of($hex) == 'color') {

		@if(string.index("#{$hex}", "#") == 1) {
			$oklch: color.to-space($hex, oklch);

			@return round-oklch($oklch);

		} @else {
			@return #{$hex} 'Не является HEX цветом.';
		}

	} @else {
		@return #{meta.type-of($hex)} 'Не является цветом.';
	}
}

// Округление знаков после запятой у OKLCH цветов (возвращает строку для отображения)
//@function round-oklch-string($color) {
//	$l: math.div(math.round(color.channel($color, "lightness") * 10), 10);
//	$c: math.div(math.round(color.channel($color, "chroma") * 1000), 1000);
//	$h: math.div(math.round(color.channel($color, "hue") * 100), 100);
//
//	@return string.unquote("oklch(#{$l} #{$c} #{$h})");
//}

// Округление знаков после запятой у OKLCH цветов (возвращает цветовой объект для вычислений)
@function round-oklch($color) {
	$l: math.div(math.round(color.channel($color, "lightness") * 10), 10);
	$c: math.div(math.round(color.channel($color, "chroma") * 1000), 1000);
	$h: math.div(math.round(color.channel($color, "hue") * 100), 100);

	$adjusted: color.change($color, $lightness: $l, $chroma: $c, $hue: $h);
	@return $adjusted;
}
