
@forward "@config/colors";

$red-50: #fef2f2;  // lightness: -33.4% chroma: 0.195 hue: 7.95deg
$red-100: #fee2e2; // lightness: -29.9% chroma: 0.177 hue: 7.61deg
$red-200: #fecaca; // lightness: -24.8% chroma: 0.149 hue: 7deg
$red-300: #fca5a5; // lightness: -17.1% chroma: 0.105 hue: 5.76deg
$red-400: #f87171; // lightness: -7.4% chroma: 0.042 hue: 3.11deg
$red-500: #ef4444; // lightness: 0% chroma: 0 hue: 0deg
$red-600: #dc2626; // lightness: 6% chroma: -0.007 hue: -2deg
$red-700: #b91c1c; // lightness: 13.2% chroma: 0.018 hue: -2.19deg
$red-800: #991b1b; // lightness: 19.3% chroma: 0.047 hue: -1.57deg
$red-900: #7f1d1d; // lightness: 24.1% chroma: 0.075 hue: -0.39deg
$red-950: #450a0a; // lightness: 37.9% chroma: 0.119 hue: -0.71deg

$orange-50: #fff7ed;  // lightness: -27.5% chroma: 0.171 hue: -26.08deg
$orange-100: #ffedd5; // lightness: -24.9% chroma: 0.15 hue: -27.56deg
$orange-200: #fed7aa; // lightness: -19.6% chroma: 0.114 hue: -23.1deg
$orange-300: #fdba74; // lightness: -13.2% chroma: 0.07 hue: -18.69deg
$orange-400: #fb923c; // lightness: -5.3% chroma: 0.028 hue: -8.33deg
$orange-500: #f97316; // lightness: 0% chroma: 0 hue: 0deg
$orange-600: #ea580c; // lightness: 5.9% chroma: -0.007 hue: 6.48deg
$orange-700: #c2410c; // lightness: 15.2% chroma: 0.013 hue: 9.2deg
$orange-800: #9a3412; // lightness: 23.5% chroma: 0.044 hue: 10.3deg
$orange-900: #7c2d12; // lightness: 29.7% chroma: 0.071 hue: 9.43deg
$orange-950: #431407; // lightness: 43.9% chroma: 0.111 hue: 11.34deg

$amber-50: #fffbeb;  // lightness: -21.8% chroma: 0.144 hue: -25.2degNn
$amber-100: #fef3c7; // lightness: -19.3% chroma: 0.107 hue: -25.54deg
$amber-200: #fde68a; // lightness: -15.5% chroma: 0.05 hue: -25.67deg
$amber-300: #fcd34d; // lightness: -11% chroma: 0.012 hue: -21.53deg
$amber-400: #fbbf24; // lightness: -6.8% chroma: 0.001 hue: -14.35deg
$amber-500: #f59e0b; // lightness: 0% chroma: 0 hue: 0deg
$amber-600: #d97706; // lightness: 10.3% chroma: 0.008 hue: 11.76deg
$amber-700: #b45309; // lightness: 21.4% chroma: 0.019 hue: 21.08deg
$amber-800: #92400e; // lightness: 29.6% chroma: 0.04 hue: 23.88deg
$amber-900: #78350f; // lightness: 35.5% chroma: 0.06 hue: 24.18deg
$amber-950: #451a03; // lightness: 49% chroma: 0.091 hue: 24.44deg

$yellow-50: #fefce8;  // lightness: -19.2% chroma: 0.136 hue: -16.16deg
$yellow-100: #fef9c3; // lightness: -17.8% chroma: 0.093 hue: -17.14deg
$yellow-200: #fef08a; // lightness: -15% chroma: 0.038 hue: -15.49deg
$yellow-300: #fde047; // lightness: -11% chroma: -0.004 hue: -12.06deg
$yellow-400: #facc15; // lightness: -6.6% chroma: -0.011 hue: -5.89deg
$yellow-500: #eab308; // lightness: 0% chroma: 0 hue: 0deg
$yellow-600: #ca8a04; // lightness: 11.4% chroma: 0.02 hue: 10.22deg
$yellow-700: #a16207; // lightness: 24.1% chroma: 0.041 hue: 19.61deg
$yellow-800: #854d0e; // lightness: 31.9% chroma: 0.059 hue: 24.14deg
$yellow-900: #713f12; // lightness: 37.4% chroma: 0.072 hue: 28.34deg
$yellow-950: #422006; // lightness: 50.9% chroma: 0.098 hue: 32.24deg

$lime-50: #f7fee7;  // lightness: -21.8% chroma: 0.173 hue: 10.09deg
$lime-100: #ecfccb; // lightness: -19.9% chroma: 0.138 hue: 8.52deg
$lime-200: #d9f99d; // lightness: -17% chroma: 0.082 hue: 6.53deg
$lime-300: #bef264; // lightness: -12.9% chroma: 0.025 hue: 4.18deg
$lime-400: #a3e635; // lightness: -8.1% chroma: -0.003 hue: 2deg
$lime-500: #84cc16; // lightness: 0% chroma: 0 hue: 0deg
$lime-600: #65a30d; // lightness: 12% chroma: 0.029 hue: -0.83deg
$lime-700: #4d7c0f; // lightness: 23.6% chroma: 0.063 hue: -0.74deg
$lime-800: #3f6212; // lightness: 31.5% chroma: 0.091 hue: -0.08deg
$lime-900: #365314; // lightness: 36.3% chroma: 0.108 hue: -0.21deg
$lime-950: #1a2e05; // lightness: 49.4% chroma: 0.135 hue: -1.26deg

$green-50: #f0fdf4;  // lightness: -25.9% chroma: 0.174 hue: -6.25deg
$green-100: #dcfce7; // lightness: -23.9% chroma: 0.149 hue: -7.16deg
$green-200: #bbf7d0; // lightness: -20.2% chroma: 0.111 hue: -6.41deg
$green-300: #86efac; // lightness: -14.8% chroma: 0.056 hue: -4.87deg
$green-400: #4ade80; // lightness: -7.7% chroma: 0.01 hue: -2.13deg
$green-500: #22c55e; // lightness: 0% chroma: 0 hue: 0deg
$green-600: #16a34a; // lightness: 9.6% chroma: 0.022 hue: 0.37deg
$green-700: #15803d; // lightness: 19.6% chroma: 0.055 hue: -0.49deg
$green-800: #166534; // lightness: 27.5% chroma: 0.084 hue: -1.75deg
$green-900: #14532d; // lightness: 33% chroma: 0.102 hue: -2.96deg
$green-950: #052e16; // lightness: 45.7% chroma: 0.129 hue: -3.35deg

$emerald-50: #ecfdf5;  // lightness: -28.3% chroma: 0.128 hue: -3.63deg
$emerald-100: #d1fae5; // lightness: -25.4% chroma: 0.098 hue: -0.57deg
$emerald-200: #a7f3d0; // lightness: -20.9% chroma: 0.06 hue: -1.67deg
$emerald-300: #6ee7b7; // lightness: -14.9% chroma: 0.019 hue: -2.5deg
$emerald-400: #34d399; // lightness: -7.7% chroma: -0.004 hue: -0.74deg
$emerald-500: #10b981; // lightness: 0% chroma: 0 hue: 0deg
$emerald-600: #059669; // lightness: 10% chroma: 0.022 hue: -0.75deg
$emerald-700: #047857; // lightness: 18.8% chroma: 0.044 hue: -3.13deg
$emerald-800: #065f46; // lightness: 26.4% chroma: 0.063 hue: -4.43deg
$emerald-900: #064e3b; // lightness: 31.8% chroma: 0.076 hue: -6.46deg
$emerald-950: #022c22; // lightness: 43.4% chroma: 0.1 hue: -10.07deg

$teal-50: #f0fdfa;  // lightness: -28% chroma: 0.109 hue: 1.78deg
$teal-100: #ccfbf1; // lightness: -24.9% chroma: 0.073 hue: 1.7deg
$teal-200: #99f6e4; // lightness: -20.6% chroma: 0.03 hue: 2.07deg
$teal-300: #5eead4; // lightness: -15.1% chroma: -0.002 hue: 1.43deg
$teal-400: #2dd4bf; // lightness: -8.1% chroma: -0.01 hue: 0.59deg
$teal-500: #14b8a6; // lightness: 0% chroma: 0 hue: 0deg
$teal-600: #0d9488; // lightness: 10.4% chroma: 0.019 hue: -2.2deg
$teal-700: #0f766e; // lightness: 19.3% chroma: 0.037 hue: -3.89deg
$teal-800: #115e59; // lightness: 26.7% chroma: 0.052 hue: -5.72deg
$teal-900: #134e4a; // lightness: 31.8% chroma: 0.064 hue: -5.92deg
$teal-950: #042f2e; // lightness: 42.7% chroma: 0.078 hue: -10.02deg

$cyan-50: #ecfeff;  // lightness: -26.9% chroma: 0.107 hue: 14.35deg
$cyan-100: #cffafe; // lightness: -24.1% chroma: 0.082 hue: 11.83deg
$cyan-200: #a5f3fc; // lightness: -20.2% chroma: 0.049 hue: 10.18deg
$cyan-300: #67e8f9; // lightness: -15% chroma: 0.011 hue: 8.14deg
$cyan-400: #22d3ee; // lightness: -8.2% chroma: -0.008 hue: 3.69deg
$cyan-500: #06b6d4; // lightness: 0% chroma: 0 hue: 0deg
$cyan-600: #0891b2; // lightness: 10.6% chroma: 0.015 hue: -6.5deg
$cyan-700: #0e7490; // lightness: 19.5% chroma: 0.032 hue: -7.91deg
$cyan-800: #155e75; // lightness: 26.5% chroma: 0.049 hue: -9.06deg
$cyan-900: #164e63; // lightness: 31.7% chroma: 0.06 hue: -12.17deg
$cyan-950: #083344; // lightness: 41.3% chroma: 0.072 hue: -14.48deg

$sky-50: #f0f9ff;  // lightness: -29.2% chroma: 0.136 hue: 0.7deg
$sky-100: #e0f2fe; // lightness: -26.6% chroma: 0.123 hue: 0.5deg
$sky-200: #bae6fd; // lightness: -21.6% chroma: 0.093 hue: 6.42deg
$sky-300: #7dd3fc; // lightness: -14.3% chroma: 0.047 hue: 7deg
$sky-400: #38bdf8; // lightness: -6.9% chroma: 0.009 hue: 4.66deg
$sky-500: #0ea5e9; // lightness: 0% chroma: 0 hue: 0deg
$sky-600: #0284c7; // lightness: 9.7% chroma: 0.009 hue: -4.65deg
$sky-700: #0369a1; // lightness: 18.5% chroma: 0.029 hue: -5.43deg
$sky-800: #075985; // lightness: 24.2% chroma: 0.048 hue: -3.47deg
$sky-900: #0c4a6e; // lightness: 29.4% chroma: 0.063 hue: -3.56deg
$sky-950: #082f49; // lightness: 39.2% chroma: 0.085 hue: -5.84deg

$blue-50: #eff6ff;  // lightness: -34.7% chroma: 0.174 hue: 5.21deg
$blue-100: #dbeafe; // lightness: -30.9% chroma: 0.156 hue: 4.22deg
$blue-200: #bfdbfe; // lightness: -25.9% chroma: 0.131 hue: 5.68deg
$blue-300: #93c5fd; // lightness: -18.6% chroma: 0.092 hue: 8deg
$blue-400: #60a5fa; // lightness: -9.1% chroma: 0.045 hue: 5.19deg
$blue-500: #3b82f6; // lightness: 0% chroma: 0 hue: 0deg
$blue-600: #2563eb; // lightness: 7.7% chroma: -0.027 hue: -3.07deg
$blue-700: #1d4ed8; // lightness: 13.5% chroma: -0.029 hue: -4.57deg
$blue-800: #1e40af; // lightness: 19.9% chroma: 0.007 hue: -5.83deg
$blue-900: #1e3a8a; // lightness: 24.4% chroma: 0.05 hue: -5.71deg
$blue-950: #172554; // lightness: 34.1% chroma: 0.101 hue: -8.13deg

$indigo-50: #eef2ff;  // lightness: -37.7% chroma: 0.186 hue: 4.81deg
$indigo-100: #e0e7ff; // lightness: -34.5% chroma: 0.171 hue: 4.33deg
$indigo-200: #c7d2fe; // lightness: -28.5% chroma: 0.142 hue: 3.08deg
$indigo-300: #a5b4fc; // lightness: -20% chroma: 0.1 hue: 2.41deg
$indigo-400: #818cf8; // lightness: -9.5% chroma: 0.046 hue: 0.19deg
$indigo-500: #6366f1; // lightness: 0% chroma: 0 hue: 0deg
$indigo-600: #4f46e5; // lightness: 7.4% chroma: -0.026 hue: 0.15deg
$indigo-700: #4338ca; // lightness: 12.8% chroma: -0.011 hue: 0.1deg
$indigo-800: #3730a3; // lightness: 18.7% chroma: 0.027 hue: -0.25deg
$indigo-900: #312e81; // lightness: 22.6% chroma: 0.069 hue: -1.58deg
$indigo-950: #1e1b4b; // lightness: 32.8% chroma: 0.118 hue: -4.17deg

$violet-50: #f5f3ff;  // lightness: -36.3% chroma: 0.203 hue: -1.04deg
$violet-100: #ede9fe; // lightness: -33.7% chroma: 0.191 hue: -1.87deg
$violet-200: #ddd6fe; // lightness: -28.8% chroma: 0.164 hue: -0.56deg
$violet-300: #c4b5fd; // lightness: -20.5% chroma: 0.118 hue: -0.85deg
$violet-400: #a78bfa; // lightness: -10.3% chroma: 0.06 hue: -0.82deg
$violet-500: #8b5cf6; // lightness: 0% chroma: 0 hue: 0deg
$violet-600: #7c3aed; // lightness: 6.5% chroma: -0.028 hue: -0.29deg
$violet-700: #6d28d9; // lightness: 11.5% chroma: -0.022 hue: 0.14deg
$violet-800: #5b21b6; // lightness: 17.4% chroma: 0.008 hue: -0.04deg
$violet-900: #4c1d95; // lightness: 22.6% chroma: 0.041 hue: -1.02deg
$violet-950: #2e1065; // lightness: 32.3% chroma: 0.084 hue: 1.63deg

$purple-50: #faf5ff;  // lightness: -35% chroma: 0.219 hue: -4.4deg
$purple-100: #f3e8ff; // lightness: -31.9% chroma: 0.2 hue: -3.27deg
$purple-200: #e9d5ff; // lightness: -27.5% chroma: 0.173 hue: -2.8deg
$purple-300: #d8b4fe; // lightness: -20% chroma: 0.125 hue: -2.48deg
$purple-400: #c084fc; // lightness: -9.5% chroma: 0.056 hue: -1.6deg
$purple-500: #a855f7; // lightness: 0% chroma: 0 hue: 0deg
$purple-600: #9333ea; // lightness: 6.9% chroma: -0.019 hue: 1.58deg
$purple-700: #7e22ce; // lightness: 13.1% chroma: -0.004 hue: 1.98deg
$purple-800: #6b21a8; // lightness: 18.9% chroma: 0.035 hue: 0.18deg
$purple-900: #581c87; // lightness: 24.6% chroma: 0.067 hue: -1.09deg
$purple-950: #3b0764; // lightness: 33.6% chroma: 0.09 hue: 1.18deg

$fuchsia-50: #fdf4ff;  // lightness: -31% chroma: 0.242 hue: 2.09deg
$fuchsia-100: #fae8ff; // lightness: -28.5% chroma: 0.223 hue: 3.3deg
$fuchsia-200: #f5d0fe; // lightness: -23.6% chroma: 0.186 hue: 2.53deg
$fuchsia-300: #f0abfc; // lightness: -16.6% chroma: 0.127 hue: 0.72deg
$fuchsia-400: #e879f9; // lightness: -8.1% chroma: 0.052 hue: -0.01deg
$fuchsia-500: #d946ef; // lightness: 0% chroma: 0 hue: 0deg
$fuchsia-600: #c026d3; // lightness: 7.6% chroma: 0.002 hue: -0.75deg
$fuchsia-700: #a21caf; // lightness: 14.9% chroma: 0.033 hue: -1.8deg
$fuchsia-800: #86198f; // lightness: 21.5% chroma: 0.067 hue: -2.44deg
$fuchsia-900: #701a75; // lightness: 26.6% chroma: 0.099 hue: -3.46deg
$fuchsia-950: #4a044e; // lightness: 37.4% chroma: 0.128 hue: -3.51deg

$pink-50: #fdf2f8;  // lightness: -31.5% chroma: 0.198 hue: 11.11deg
$pink-100: #fce7f3; // lightness: -29.2% chroma: 0.184 hue: 12.05deg
$pink-200: #fbcfe8; // lightness: -24.3% chroma: 0.153 hue: 11.08deg
$pink-300: #f9a8d4; // lightness: -16.7% chroma: 0.102 hue: 8.29deg
$pink-400: #f472b6; // lightness: -6.9% chroma: 0.037 hue: 4.55deg
$pink-500: #ec4899; // lightness: 0% chroma: 0 hue: 0deg
$pink-600: #db2777; // lightness: 6.4% chroma: -0.006 hue: 353.73deg
$pink-700: #be185d; // lightness: 13.1% chroma: 0.013 hue: 350.35deg
$pink-800: #9d174d; // lightness: 19.7% chroma: 0.042 hue: 350.49deg
$pink-900: #831843; // lightness: 24.8% chroma: 0.068 hue: 351.88deg
$pink-950: #500724; // lightness: 37.2% chroma: 0.107 hue: 350.4deg

$rose-50: #fff1f2;  // lightness: -32.4% chroma: 0.2 hue: 4.02deg
$rose-100: #ffe4e6; // lightness: -29.6% chroma: 0.185 hue: 3.86deg
$rose-200: #fecdd3; // lightness: -24.7% chroma: 0.159 hue: 6.44deg
$rose-300: #fda4af; // lightness: -16.5% chroma: 0.109 hue: 4.8deg
$rose-400: #fb7185; // lightness: -7.4% chroma: 0.046 hue: 3.01deg
$rose-500: #f43f5e; // lightness: 0% chroma: 0 hue: 0deg
$rose-600: #e11d48; // lightness: 5.9% chroma: -0.007 hue: -1.14deg
$rose-700: #be123c; // lightness: 13.1% chroma: 0.017 hue: -0.49deg
$rose-800: #9f1239; // lightness: 19% chroma: 0.044 hue: 2.74deg
$rose-900: #881337; // lightness: 23.5% chroma: 0.065 hue: 6.17deg
$rose-950: #4c0519; // lightness: 37.4% chroma: 0.114 hue: 4.35deg

$slate-50: #f8fafc;  // lightness: -43% chroma: 0.038 hue: 9.56deg
$slate-100: #f1f5f9; // lightness: -41.4% chroma: 0.034 hue: 9.52deg
$slate-200: #e2e8f0; // lightness: -37.5% chroma: 0.028 hue: 1.91deg
$slate-300: #cbd5e1; // lightness: -31.5% chroma: 0.021 hue: 4.53deg
$slate-400: #94a3b8; // lightness: -15.7% chroma: 0.006 hue: 0.63deg
$slate-500: #64748b; // lightness: 0% chroma: 0 hue: 0deg
$slate-600: #475569; // lightness: 10.8% chroma: 0.004 hue: 0.14deg
$slate-700: #334155; // lightness: 18.2% chroma: 0.002 hue: 0.13deg
$slate-800: #1e293b; // lightness: 27.5% chroma: 0.004 hue: -2.61deg
$slate-900: #0f172a; // lightness: 34.6% chroma: 0.001 hue: -8.33deg
$slate-950: #020617; // lightness: 42.5% chroma: 0 hue: -7.28deg

$gray-50: #f9fafb;  // lightness: -43.4% chroma: 0.021 hue: 16.52deg
$gray-100: #f3f4f6; // lightness: -41.6% chroma: 0.02 hue: -0.18deg
$gray-200: #e5e7eb; // lightness: -37.7% chroma: 0.017 hue: -0.17deg
$gray-300: #d1d5db; // lightness: -32.1% chroma: 0.014 hue: 6.02deg
$gray-400: #9ca3af; // lightness: -16.3% chroma: 0.004 hue: 3.04deg
$gray-500: #6b7280; // lightness: 0% chroma: 0 hue: 0deg
$gray-600: #4b5563; // lightness: 10.5% chroma: -0.003 hue: 7.56deg
$gray-700: #374151; // lightness: 17.8% chroma: -0.008 hue: 4.63deg
$gray-800: #1f2937; // lightness: 27.3% chroma: -0.007 hue: 7.51deg
$gray-900: #111827; // lightness: 34.1% chroma: -0.009 hue: -0.3deg
$gray-950: #030712; // lightness: 42.1% chroma: -0.004 hue: 2.67deg

$zinc-50: #fafafa;  // lightness: -43.3% chroma: 0.014 hue: 285.94deg
$zinc-100: #f4f4f5; // lightness: -41.5% chroma: 0.013 hue: -0.43deg
$zinc-200: #e4e4e7; // lightness: -36.8% chroma: 0.01 hue: -0.38deg
$zinc-300: #d4d4d8; // lightness: -31.9% chroma: 0.009 hue: -0.35deg
$zinc-400: #a1a1aa; // lightness: -16% chroma: 0.001 hue: -0.13deg
$zinc-500: #71717a; // lightness: 0% chroma: 0 hue: 0deg
$zinc-600: #52525b; // lightness: 11% chroma: -0.001 hue: 0.15deg
$zinc-700: #3f3f46; // lightness: 18.2% chroma: 0.002 hue: 0.13deg
$zinc-800: #27272a; // lightness: 27.8% chroma: 0.009 hue: -0.09deg
$zinc-900: #18181b; // lightness: 34.2% chroma: 0.008 hue: 0.05deg
$zinc-950: #09090b; // lightness: 41.1% chroma: 0.01 hue: 0.12deg

$neutral-50: #fafafa;  // lightness: -42.9% chroma: 0 hue: 0deg
$neutral-100: #f5f5f5; // lightness: -41.4% chroma: 0 hue: 0deg
$neutral-200: #e5e5e5; // lightness: -36.6% chroma: 0 hue: 0deg
$neutral-300: #d4d4d4; // lightness: -31.4% chroma: 0 hue: 0deg
$neutral-400: #a3a3a3; // lightness: -15.9% chroma: 0 hue: 0deg
$neutral-500: #737373; // lightness: 0% chroma: 0 hue: 0deg
$neutral-600: #525252; // lightness: 11.7% chroma: 0 hue: 0deg
$neutral-700: #404040; // lightness: 18.5% chroma: 0 hue: 0deg
$neutral-800: #262626; // lightness: 28.7% chroma: 0 hue: 0deg
$neutral-900: #171717; // lightness: 35.1% chroma: 0 hue: 0deg
$neutral-950: #0a0a0a; // lightness: 41.1% chroma: 0 hue: 0deg

$stone-50: #fafaf9;  // lightness: -43.2% chroma: 0.011 hue: -48.35deg
$stone-100: #f5f5f4; // lightness: -41.7% chroma: 0.011 hue: -48.35deg
$stone-200: #e7e5e4; // lightness: -37% chroma: 0.009 hue: 9.35deg
$stone-300: #d6d3d1; // lightness: -31.6% chroma: 0.008 hue: 1.7deg
$stone-400: #a8a29e; // lightness: -16.3% chroma: 0.003 hue: 1.81deg
$stone-500: #78716c; // lightness: 0% chroma: 0 hue: 0deg
$stone-600: #57534e; // lightness: 10.9% chroma: 0.002 hue: -15.57deg
$stone-700: #44403c; // lightness: 17.9% chroma: 0.003 hue: -9.49deg
$stone-800: #292524; // lightness: 28.5% chroma: 0.006 hue: 23.77deg
$stone-900: #1c1917; // lightness: 33.7% chroma: 0.006 hue: 2.03deg
$stone-950: #0c0a09; // lightness: 40.6% chroma: 0.008 hue: 8.82deg

$mauve-50: #fafafa;  // lightness: -43.3% chroma: 0.014 hue: 285.94deg
$mauve-100: #f4f4f5; // lightness: -41.5% chroma: 0.013 hue: -0.43deg
$mauve-200: #e4e4e7; // lightness: -36.8% chroma: 0.01 hue: -0.38deg
$mauve-300: #d4d4d8; // lightness: -31.9% chroma: 0.009 hue: -0.35deg
$mauve-400: #a1a1aa; // lightness: -16% chroma: 0.001 hue: -0.13deg
$mauve-500: #71717a; // lightness: 0% chroma: 0 hue: 0deg
$mauve-600: #52525b; // lightness: 11% chroma: -0.001 hue: 0.15deg
$mauve-700: #3f3f46; // lightness: 18.2% chroma: 0.002 hue: 0.13deg
$mauve-800: #27272a; // lightness: 27.8% chroma: 0.009 hue: -0.09deg
$mauve-900: #18181b; // lightness: 34.2% chroma: 0.008 hue: 0.05deg
$mauve-950: #09090b; // lightness: 41.1% chroma: 0.01 hue: 0.12deg

$olive-50: #fafaf9;  // lightness: -43.2% chroma: 0.011 hue: -48.35deg
$olive-100: #f5f5f4; // lightness: -41.7% chroma: 0.011 hue: -48.35deg
$olive-200: #e7e5e4; // lightness: -37% chroma: 0.009 hue: 9.35deg
$olive-300: #d6d3d1; // lightness: -31.6% chroma: 0.008 hue: 1.7deg
$olive-400: #a8a29e; // lightness: -16.3% chroma: 0.003 hue: 1.81deg
$olive-500: #78716c; // lightness: 0% chroma: 0 hue: 0deg
$olive-600: #57534e; // lightness: 10.9% chroma: 0.002 hue: -15.57deg
$olive-700: #44403c; // lightness: 17.9% chroma: 0.003 hue: -9.49deg
$olive-800: #292524; // lightness: 28.5% chroma: 0.006 hue: 23.77deg
$olive-900: #1c1917; // lightness: 33.7% chroma: 0.006 hue: 2.03deg
$olive-950: #0c0a09; // lightness: 40.6% chroma: 0.008 hue: 8.82deg

$mist-50: #f8fafc;  // lightness: -43% chroma: 0.038 hue: 9.56deg
$mist-100: #f1f5f9; // lightness: -41.4% chroma: 0.034 hue: 9.52deg
$mist-200: #e2e8f0; // lightness: -37.5% chroma: 0.028 hue: 1.91deg
$mist-300: #cbd5e1; // lightness: -31.5% chroma: 0.021 hue: 4.53deg
$mist-400: #94a3b8; // lightness: -15.7% chroma: 0.006 hue: 0.63deg
$mist-500: #64748b; // lightness: 0% chroma: 0 hue: 0deg
$mist-600: #475569; // lightness: 10.8% chroma: 0.004 hue: 0.14deg
$mist-700: #334155; // lightness: 18.2% chroma: 0.002 hue: 0.13deg
$mist-800: #1e293b; // lightness: 27.5% chroma: 0.004 hue: -2.61deg
$mist-900: #0f172a; // lightness: 34.6% chroma: 0.001 hue: -8.33deg
$mist-950: #020617; // lightness: 42.5% chroma: 0 hue: -7.28deg

$taupe-50: #fafaf9;  // lightness: -43.2% chroma: 0.011 hue: -48.35deg
$taupe-100: #f5f5f4; // lightness: -41.7% chroma: 0.011 hue: -48.35deg
$taupe-200: #e7e5e4; // lightness: -37% chroma: 0.009 hue: 9.35deg
$taupe-300: #d6d3d1; // lightness: -31.6% chroma: 0.008 hue: 1.7deg
$taupe-400: #a8a29e; // lightness: -16.3% chroma: 0.003 hue: 1.81deg
$taupe-500: #78716c; // lightness: 0% chroma: 0 hue: 0deg
$taupe-600: #57534e; // lightness: 10.9% chroma: 0.002 hue: -15.57deg
$taupe-700: #44403c; // lightness: 17.9% chroma: 0.003 hue: -9.49deg
$taupe-800: #292524; // lightness: 28.5% chroma: 0.006 hue: 23.77deg
$taupe-900: #1c1917; // lightness: 33.7% chroma: 0.006 hue: 2.03deg
$taupe-950: #0c0a09; // lightness: 40.6% chroma: 0.008 hue: 8.82deg
