@use "@core/tokens" as token;

.link {
	display: inline-flex;
	align-items: center;
	gap: token.scale(token.$scale-4);

	&_accent {
		color: token.color-base(token.$accent);

		&:hover {
			color: token.color-light-10(token.$accent);
		}
	}
}
