@use "@core/viewports";
@use "@core/tokens";

.h1 {
	font-size: tokens.scale(24);
	line-height: tokens.scale(32);
	font-weight: tokens.weight(tokens.$weight-bold);
	word-wrap: break-word;
	word-break: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
	text-wrap: pretty;

	@include viewports.no-phone {
		font-size: tokens.scale(48);
		line-height: tokens.scale(56);
	}
}

.h2 {
	font-size: tokens.scale(20);
	line-height: tokens.scale(24);
	font-weight: tokens.weight(tokens.$weight-bold);

	@include viewports.no-phone {
		font-size: tokens.scale(40);
		line-height: tokens.scale(48);
	}
}

.h3 {
	font-size: tokens.scale(16);
	line-height: tokens.scale(24);
	font-weight: tokens.weight(tokens.$weight-bold);

	@include viewports.no-phone {
		font-size: tokens.scale(32);
		line-height: tokens.scale(40);
	}
}

.h4 {
	font-size: tokens.scale(24);
	line-height: tokens.scale(32);
	font-weight: tokens.weight(tokens.$weight-medium);

	@include viewports.no-phone {
		font-size: tokens.scale(32);
		line-height: tokens.scale(40);
	}
}

.h5 {
	font-size: tokens.scale(20);
	line-height: tokens.scale(24);
	font-weight: tokens.weight(tokens.$weight-medium);

	@include viewports.no-phone {
		font-size: tokens.scale(24);
		line-height: tokens.scale(32);
	}
}

.h6 {
	font-size: tokens.scale(16);
	line-height: tokens.scale(24);
	font-weight: tokens.weight(tokens.$weight-medium);
}

.hero {
	font-size: tokens.scale(32);
	line-height: tokens.scale(40);
	font-weight: tokens.weight(tokens.$weight-bold);
	word-wrap: break-word;
	word-break: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
	text-wrap: pretty;

	@include viewports.no-phone {
		font-size: tokens.scale(64);
		line-height: tokens.scale(72);
	}
}

.supheading {
	font-size: tokens.scale(12);
	line-height: tokens.scale(16);
	font-weight: tokens.weight(tokens.$weight-regular);
	text-transform: uppercase;
}

.p, .ul, .ol, .li {
	font-size: tokens.scale(16);
	line-height: tokens.scale(24);
	font-weight: tokens.weight(tokens.$weight-regular);
}
.hint {
	font-size: tokens.scale(12);
	line-height: tokens.scale(16);
	font-weight: tokens.weight(tokens.$weight-regular);
}

.ol {
	list-style-position: inside;
	counter-reset: ol-level-1;

	&_base {
		list-style-type: none;

		.li {
			counter-increment: ol-level-1;

			&::before {
				content: counter(ol-level-1) ". ";
			}
		}

		// Нумерация до 4-го уровня вложенности
		.ol {
			counter-reset: ol-level-2;

			.li {
				counter-increment: ol-level-2;

				&::before {
					content: counter(ol-level-1) "." counter(ol-level-2) ". ";
				}
			}

			.ol {
				counter-reset: ol-level-3;

				.li {
					counter-increment: ol-level-3;

					&::before {
						content: counter(ol-level-1) "." counter(ol-level-2) "." counter(ol-level-3) ". ";
					}
				}

				.ol {
					counter-reset: ol-level-4;

					.li {
						counter-increment: ol-level-4;

						&::before {
							content: counter(ol-level-1) "." counter(ol-level-2) "." counter(ol-level-3) "." counter(ol-level-4) ". ";
						}
					}
				}
			}
		}
	}

	&_abc {
		list-style-type: lower-alpha;

		.ol {
			.li {
				&::before {
					content: counter(ol-level-1) ". ";
				}
			}
		}
	}
}

.ul {
	list-style-position: inside;

	&_circle {
		list-style-type: circle; // Маркер в виде кружка.
	}
	&_disc {
		list-style-type: disc; 	// Маркер в виде точки.
	}
	&_square {
		list-style-type: square; // Маркер в виде квадрата.
	}

}

.ol, .ul {
	.ol, .ul {
		margin-top: tokens.scale(4);
		margin-bottom: tokens.scale(8);
		padding-left: tokens.scale(24);
	}
}
.li {
	> .ol, > .ul {
		margin: tokens.scale(4, 0);
		padding-left: tokens.scale(20);
	}
	&:has(.ol, .ul) {
		list-style-type: none;
		margin-left: 0;
	}
}

.hero, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: tokens.color-base(tokens.$content-dark);
}

.p, .ul, .ol {
	color: tokens.color-base(tokens.$dark-grey-dark);
}
.supheading, .hint {
	color: tokens.color-base(tokens.$dark-grey-light);
}
