@use "@fontsource-variable/geologica";
@use "@core/colors";
@use "@utils/mixins/font" as *;

body {
	@include font(16, 24, 'regular');
	font-family: "Geologica Variable", sans-serif;
	color: colors.content(colors.$content);
	background-color: colors.base(colors.$content);
	scrollbar-gutter: stable;
}
