@use "@fontsource-variable/geologica";
@use "@core/tokens" as token;

body {
	font-family: token.$base-font;
	font-size: token.scale(16);
	line-height: token.scale(24);
	font-weight: token.weight(token.$weight-regular);
	color: token.color-base(token.$content-dark);
	background-color: token.color-base(token.$content-light);
	scrollbar-gutter: stable;
}
