@use "@core/tokens" as token;

$accent: token.color-base-value(token.$oklch-example);
$accent-base: token.color-base($accent);
$accent-hover: token.color-light-10($accent);
$accent-active: token.color-dark-10($accent);
$content: token.color-base(token.$content-light);
$accent-focus: token.color-light-10($accent, .5);
$disabled: token.color-light-30($accent);
$pale: token.color-base(token.$pale);
$box-shadow-color: token.color-base($accent, .25);

.button {
	display: inline-flex;
	align-items: center;
	gap: token.scale(token.$scale-4);
	border: none;
	padding: token.scale(8, 24);
	border-radius: token.scale(token.$scale-80);
	cursor: pointer;
	transition: color  .2s ease,  background-color  .2s ease;

	&:focus-visible {
		outline: token.scale(4) solid transparent;
	}

	&_accent {
		background-color: $accent;
		color: $content;
		box-shadow: token.scale(0, 4, 8) $box-shadow-color;

		&:hover {
			background-color: $accent-active;
		}

		&:focus-visible {
			outline-color: $accent-focus;
		}

		&:disabled,
		&:disabled:hover,
		&:disabled:active,
		&:disabled:focus,
		&:disabled:focus-visible {
			background-color: $pale;
			cursor: default;
			box-shadow: none;
		}
	}

	&_circle {
		padding: token.scale(token.$scale-8);
	}

	&_disabled {
		background-color: $pale;
		color: $content;
		cursor: default;
		box-shadow: none;
	}

	&_full-width {
		justify-content: center;
		width: 100%;
	}
}
