@use "@core/tokens" as token;

.link {
	display: inline-flex;
	align-items: center;
	gap: token.scale(token.$scale-4);
	text-decoration: none;
	transition: color  .2s ease, border-color .2s ease;
	cursor: pointer;

	&_accent {
		color: token.color-base(token.$accent);

		&:hover {
			color: token.color-light-10(token.$accent);
		}
	}
}
